form {
    display: grid;
    padding-right: 20%;
}

input {
    margin-bottom: 10px;
}

body {
    margin-top: 3rem;
}

form, h2, h3 {
    padding-left: 20%;
}

h3 {
    color: red;
}

@media (max-width: 500px) {
    form, h3 {
        padding-right: 15%
    }

    form, h2, h3 {
        padding-left: 15%;
    }
}

