
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Image ColoUr Extractor</title>
        <link rel="stylesheet" href="../static/title-styles.css">
    </head>
    <body>
        <section id="title-section">
            <a href="/">
                <h1 class="title"> Image Colour Extractor</h1>
		<img class="title-img" src="https://cdn-icons-png.flaticon.com/512/2970/2970785.png" alt="colors">
            </a>
        </section>
    </body>
</html>
